.item {
    color: #3b3b3b;
    margin-bottom: 10px;
}

.item img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.likes {
    font-weight: normal;
    display: flex;
    width: fit-content;
    flex-direction: row;
    align-items: center;
    margin: 10px;

}

.likes:hover {
    color: red;
    cursor: pointer;
}

.heart {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.postMessage {
    position: relative;
    display: flex;
    align-items: center;
    line-height: 0;
    background-color: rgba(0, 191, 255, 0.2);
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
    margin-left: 20px;
}

.postMessage:after {
    content: '';
    position: absolute;
    bottom: 10px;
    margin-left: -10px;
    left: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid rgba(0, 191, 255, 0.2);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    z-index: 30;
}

.post {
    margin: 10px;
    display: flex;
}